.navbarContainer {
  margin: 20px 0px;
}

.site-page-header {
  border: 1px solid rgb(235, 237, 240);
}

.titleLogo {
  margin-left: 14px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  vertical-align: middle;
  font-size: 34px;
}
